@using Nixi.Areas.Admin.Helpers;

@*<ul>
    <li>@Html.SideMenuItem("Overzicht", "Index", "Contacts")</li>
    <li>@Html.SideMenuItem("Kinderen", "ToddlerIndex", "Contacts")</li>
    <li>@Html.SideMenuItem("Ouders", "PersonIndex", "Contacts")</li>
    <li>@Html.SideMenuItem("Medewerkers", "PersonIndex", "Contacts")</li>
    <li>@Html.SideMenuItem("Contacten", "PersonIndex", "Contacts")</li>
</ul>*@
